@charset "UTF-8";
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}

.center-filud{
  margin:20px auto;
  padding:3px;
}
.img-responsive{
  display: block;
  height: auto;
  max-width: 100%;
}
/*星のレーディング*/
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 20px;
}
.rate:before, .rate:after {
  position:absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display:inline-block;
  height: 16px;
  line-height: 16px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}

.rate1:after {
  width: 16px;
}

.rate1-5:after {
  width: 25px;
}

.rate2:after {
  width: 32px;
}

.rate2-5:after {
  width: 40px;
}

.rate3:after {
  width: 48px;
}

.rate3-5:after {
  width: 56px;
}

.rate4:after {
  width: 64px;
}

.rate4-5:after {
  width: 72px;
}

.rate5:after {
  width: 80px;
}

.wrap {
  width: 80px;
/*footerの設定*/  
}
/*contents*/

.center-filud{
  margin:0 auto 0 auto;
  padding-left:15px;
  padding-right:15px;
  
}
/*ページネーション*/
.paginator nav {
 margin:0 auto;
}
footer{
   padding: 12px 0 ;
   font-size: 12px;
  margin-top: auto;
  background-color:#dfdfdf;
   
}
.footer-menu nav li{
  padding:0 20px 0 22px;
   margin:0 auto ;
 display:inline-block;
 margin-top:30px;
}
.policy{
  line-height: 1.428571429;
  font-size:14px;
}
.policy h2{
  font-size:20px;
}
.page_title{
  font-size:25px;
}
.copyright{
   text-align: center;
   padding:35px;
}

